<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Responsive autocomplete</title>
    <script src="./vue.js" charset="utf-8"></script>
    <script src="./axios.js" charset="utf-8"></script>
    <link rel="stylesheet" href="./style.css">
  </head>

  <body>

    <div id="app">
      <h1>Каталог продуктов</h1>

      <div class="input-ac" :class="{ 'is-active' : isActive }" v-click-outside="onItemClickOut">
        <input type="text" class="input-ac__input" v-model="textInput" @focus="onFocus" @blur="onBlur">
        <div class="input-ac__autocomplete">
          <ul class="input-ac__lst">
            <li class="input-ac__item"  @click="onItemClick(folder.item)" v-for="folder in folders">{{folder.item}}</li>
          </ul>
        </div>
      </div>

    </div>
    <script type="text/javascript">
    Vue.directive('click-outside', {
    bind: function (el, binding, vnode) {
        window.event = function (event) {
            if (!(el == event.target || el.contains(event.target))) {
                vnode.context[binding.expression](event);
            }
        };
        document.body.addEventListener('click', window.event)
    },
    unbind: function (el) {
        document.body.removeEventListener('click', window.event)
    },
});
    Vue.directive('focus', {
      // Когда привязанный элемент вставлен в DOM...
      inserted: function (el) {
        // Переключаем фокус на элемент
        el.focus()
      }
    })

      var App = new Vue ({
        el: '#app',
        data: {
          textInput: '',
          focused: false,
          isActive: false,
          inputValue: 'xxx',
          folders: [
            {item: 'Горшечные'},
            {item: 'Декор'},
            {item: 'Игрушки'},
            {item: 'Полиграфия'},
            {item: 'Сладости'},
            {item: 'Упаковка'},
            {item: 'Услуги'},
            {item: 'Цветы'}
          ]
        },

        created: function() {
          console.log('created');
        },
        mounted: function() {
          console.log('mounted');
        },
        watch: {
          textSearch: function(){
            if (this.textSearch.length > 3){
              this.textSearch = 'Jopa!!!';

            }
            console.log(this.textSearch);
          },
        },
        methods: {
          onFocus() {
            this.focused = true;
            console.log('onFocus()');
            this.isActive = true;
          },
          onBlur() {
            //this.focused = false;
            //this.isActive = false;
          },
          onItemClick(folderItem) {
            this.textInput = folderItem;
            this.isActive = false;
            console.log('onItemClick');
          },
          onBodyClick() {
            console.log('onBodyClick');
          },
          onItemClickOut() {
            this.isActive = false;
            console.log('onItemClickOut');
          }
        }
      });


    </script>

  </body>
</html>
