<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Responsive autocomplete</title>


    <link rel="stylesheet" href="./style.css">
    <link href="https://unpkg.com/ionicons@4.4.4/dist/css/ionicons.min.css" rel="stylesheet">
  </head>

  <body>

    <div id="app">
      <header>
        <h1>
          <i class="icon ion-md-cart"></i>
          Каталог продуктов
        </h1>

      </header>


      <div class="input-ac" :class="{ 'is-active' : isActive, 'is-filled' : isFilled }" v-click-outside="closeAutocomplete">
        <label class="input-ac__label" for="category">Укажите категорию:</label>
        <div class="input-ac__wrapper">
          <input id="category" type="text" class="input-ac__input" v-model="textInput" @keydown="onInputChange" @keyup="onInputChange" @focus="onFocus" @blur="onBlur">
          <div class="input-ac__clear" @click="clearTextInput">
            <i class="input-ac__ctrl__icon input-ac__ctrl__icon_close icon ion-md-close"></i>
          </div>
        </div>
        <div class="input-ac__ctrl" @click="closeAutocomplete">
          <i class="input-ac__ctrl-icon input-ac__ctrl-icon_close icon ion-md-close"></i>
        </div>
        <div class="input-ac__autocomplete">
          <ul class="input-ac__lst">
            <li class="input-ac__item"  @click="onItemClick(folder.item)" v-for="folder in filterItems">
              <i class="input-ac__icon icon ion-md-folder"></i>
              {{folder.item}}
            </li>
          </ul>
        </div>
      </div>



    </div>
    <script src="./vue.js" charset="utf-8"></script>
    <script src="./axios.js" charset="utf-8"></script>
    <script src="./common.js" charset="utf-8"></script>
  </body>
</html>
